.action {
  display: flex;
  justify-content: center;
}

.action-item {
  list-style-type: none;
  margin-right: 52px;
  padding: 20px 30px;
  background: var(--button-color);
}

.action-repeat {
  margin-top: 20px;
  padding: 20px 30px;
  background: var(--button-color);
  align-self: center;
}

.action-item > a,
.action-repeat > a {
  font: 34px/18px Roboto, serif;
  color: var(--secondary-color);
}
