{{#if scene.actions.length}}
    <ul class="action">
        {{#each scene.actions}}
            <li class="action-item">
                <a href="/scene/{{ nextSceneId }}">{{ title }}</a>
            </li>
        {{/each}}
    </ul>
{{else}}
    <div class="action-repeat">
        <a href="/scene/{{ firstSceneId }}">Начать заново</a>
    </div>
{{/if}}
