.achivki {
  display: flex;
  flex-wrap: wrap;
}

.achivki-item {
  list-style-type: none;
  display: grid;
  grid-column-gap: 20px;
  align-items: center;
  grid-template:
    'img receive' 1fr
    'img title' 2fr
    / 15vw 30vw;
}

.achivki-item > img {
  grid-area: img;
  border-radius: 50%;
  width: 15vw;
  height: 15vw;
}

.achivki-item-receive {
  grid-area: receive;
  font-size: 30px;
  line-height: 38px;
}

.achivki-item-title {
  grid-area: title;
  font-size: 48px;
  line-height: 38px;
}
